*{
    margin: 0;
    padding: 0;
}

ul ,li {
    list-style: none;
}

a{
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

#wrap{
    width: 100%;
    height: 100%;
}

/* Header - Start */

#header {
    display: flex;
    width: 1400px;
    height: 100px;
    position: sticky;
    z-index: 1;
    top: 0px;
    background: white;
    margin: 0 auto;
    align-items: center;
    justify-content:space-around;
}

#header > h1 {
    margin: 0 0 0 100px;
    float: left;
    font-size: 28px;
    letter-spacing: 0;
    line-height: 1.5em;
    padding-bottom: 15px;
    position: relative;
}

#header > h1::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 55px;
    background-color: #111;
}

#header > h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 1px;
    width: 95%;
    max-width: 255px;
    background-color: #333;
}

#header > #gnb{
    display: flex;
    cursor: pointer;
}

#header > #gnb > li{
    display: flex;
    width: 100px;
    justify-content: center;
    font-size : 16px;
    font-weight: bold;
    /* margin: 0 50px 0 0; */
}

#header > #gnb > li > a{
    color: #111;
    font-size: 16px;
    position: relative;
}

#header > #gnb > li > a:hover{
    color: #39d9c8;
    transition: all 0.3s ease;

}

#header > #gnb > li > a::after{
    content: "";
    width: 0%;
    left: 50%;
    height: 1px;
    display : block;
    position: absolute;
    margin-top: 3px;
    border-bottom: 2px solid #111;
    transition: all 0.3s ease;
}

#header > #gnb > li:hover > a::after {
    content: "";
    width: 100%;
    left: 0px;
    height: 1px;
    display: block;
    position: absolute;
    margin-top: 3px;
    border-bottom: 2px solid #111;
    transition: all 0.3s ease;
}

.navbar_menu{
    scroll-behavior: smooth;
}

/* Header - End */

/* Home - Start*/

#home {
    display: flex;
    width: 1400px;
    height: 720px;
    margin: 0 auto;
    justify-content: center;
}

#home_right{
    width: 750px;
    height: 720px;
    /* background: gray; */
}

#home_right > .home_subs{
    text-align: center;
    font-size: 18px;
    margin-top: 200px;
    color: #111;
    font-weight: bold;
}

#home_right > h3{
    text-align: center;
    color: #111;
    margin-top: 100px;
    font-weight: 800;
    font-size: 40px;
}

/* Home typing 구현 CSS Start */
#home_right > span{
    font-size: 34px;
    min-width: 20px;
    white-space: nowrap;
    margin: 0;
    position: absolute;
    color: transparent;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#home_right > span::before{
    content: "Blockchain Developer";
    position: absolute;
    top: 0;
    left: 80px;
    width: 100%;
    height: 100%;
    color: black;
    overflow: hidden;
    border-right: 1.5px solid black;
    animation: typing 10s ease-in-out infinite;
}

@keyframes typing{
    0%{
        width: 0%;
    }
    50%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}

/* Home typing 구현 CSS End */

#home_left{
    display: flex;
    width: 150px;
    height: 720px;
    /* background: silver; */
    justify-content: center;
    align-items: center;
}

#home_left > h2{
    font-size: 28px;
}
/* Home - Start*/


/* About - Start*/
#about {
    display: flex;
    justify-content: space-around;
    width: 1400px;
    height: 720px;
    margin: 0 auto;
    /* background: blue; */
}

#about_left{
    position: relative;
    width: 600px;
    height: 720px;
    /* background: silver; */
}

#about_left > img{
    position: absolute;
    left: 100px;
    top: 100px;
    width: 450px;
    height: 500px;
    object-fit: contain;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #fff;
}

#about_right{
    position: relative;
    width: 700px;
    height: 720px;
    /* background: yellow; */
}


#about_right > #about_info {
    position: absolute;
    left: 100px;
    top: 100px;
    width: 450px;
    height: 500px;
}

#about_right > #about_info > h3 {
    text-align: left;
    color: darkgray;
    font-weight: 800;
    font-size: 50px;
    border-bottom: 1px solid #848484;
    border-left: 7px solid #848484;
    padding: 0 0 0 15px;
    box-sizing: border-box;
}

#about_right > #about_info > .about_list {
    display: inline-block;
    font-size: 26px;
    width: 170px;
    margin-top: 50px;
    font-weight: bold;

}

#about_right > #about_info > .about_content{
    display: inline-block;
    font-size: 26px;
    width: 170px;
    margin-top: 50px;
    color: #111;
}

#about_right > #about_info > .about_content > a{
    display: inline-block;
    font-size: 26px;
    width: 170px;
    color: palegoldenrod;
}

/* About - End*/

/* Education - Start */
#education{
    width: 900px;
    height: 700px;
    margin: 0 auto;
    /* background: green; */
}

#education > .menu_info{ /*Education*/
    display: block;
    width: 250px;
    height: 100px;
    font-size: 40px;
    font-weight: 600;
    padding: 30px 0 0 30px;
    box-sizing: border-box;
    color: darkgray;
}

#education > #edu_info > h2{ /*국제경영학과*/
    display: block;
    width: 800px;
    height: 50px;
    font-size: 30px;
    padding: 10px 0 0 30px;
}

#education > #edu_info > span{ /*기간이랑 학교명*/
    display: block;
    width: 250px;
    height: 40px;
    font-size: 20px;
    padding: 10px 0 0 30px;
    box-sizing: border-box;
}

#education > #edu_info > .edu_line {
    width: 900px;
    border-bottom: 1px solid #bbbbcb;
    margin-bottom: 40px;
}

#education > #edu_info > p{
    display: inline-block;
    width: 800px;
    height: 200px;
    font-size: 16px;
    padding: 40px 0 0 30px;
    box-sizing: border-box;
}


/* Education - End */

/* Skill - Start */
#skill {
    width: 900px;
    height: 800px;
    margin: 0 auto;
    /* background: yellow; */
}

#skill > .menu_info{
    display: block;
    width: 250px;
    height: 100px;
    font-size: 40px;
    font-weight: 600;
    padding: 30px 0 0 30px;
    box-sizing: border-box;
    color: darkgray;
}

#skill > #skill_img {
    width: 250px;
    height: 300px;
    float: left;
}

#skill > #skill_img > #skill_gnb{
    width: 250px;
    height: 400px;
}

#skill > #skill_img > #skill_gnb > li{
    display: inline-block;
    width: 120px;
    height: 60px;
    text-align: center;
    padding: 20px 0 0 0;
}

#skill_gnb > li > figure{
    width: 120px;
    height: 60px;
    text-align: center;
    padding: 20px 0 0 0;
}
#skill_gnb > li > figure > figcaption{
    color: silver;
}

#skill > #skill_subs {
    width: 600px;
    height: 700px;
    float: right;
}

#skill_subs > h3{
    font-size: 30px;
    padding-bottom: 20px;
}

#skill_subs > #skill_subs_list > p{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
}

#skill_subs > #skill_subs_list > span{
    display: block;
    color: silver;
    font-size: 14px;
    
}
/* Skill - End */

/* contact - Start */
#contact{
    width: 1400px;
    height: 300px;
    margin: 0 auto;
    background: gray;
}
/* contact - End */




/* 반응형 Media CSS*/

.navbar_toggleBtn > i{
    display: none;
}

@media screen and (max-width:768px){
    
    #header {
        position: sticky;
        justify-content: flex-start;
    }

    #header > h1{
        font-size: 14px;
    }

    .navbar_menu{
        position: absolute;
        left: 250px;
        flex-direction: column;
        opacity: 0;
    }
    
    .navbar_menu > li {
        margin: 20px 0 0 0;
    }

    .navbar_toggleBtn{
        position: absolute;
        left: 500px;
        font-size: 28px;
        color: #111;
    }

    .navbar_toggleBtn > i{
        display: block;
    }

    .navbar_menu.active{
        position: absolute;
        opacity: 1;
    }

}

/* 반응형 Media CSS*/