*{
    margin: 0;
    padding: 0;
}

ul ,li {
    list-style: none;
}

a{
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

#wrap{
    width: 100%;
    height: 100%;
}

/* Header - Start */

#header {
    display: flex;
    width: 1400px;
    height: 100px;
    position: sticky;
    z-index: 1;
    top: 0px;
    background: white;
    margin: 0 auto;
    align-items: center;
    justify-content:space-around;
}

#header > h1 {
    margin: 0 0 0 100px;
    float: left;
    font-size: 28px;
    letter-spacing: 0;
    line-height: 1.5em;
    padding-bottom: 15px;
    position: relative;
}

#header > h1::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 55px;
    background-color: #111;
}

#header > h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 1px;
    width: 95%;
    max-width: 255px;
    background-color: #333;
}

#header > #gnb{
    display: flex;
    cursor: pointer;
}

#header > #gnb > li{
    display: flex;
    width: 100px;
    justify-content: center;
    font-size : 16px;
    font-weight: bold;
    /* margin: 0 50px 0 0; */
}

#header > #gnb > li > a{
    color: #111;
    font-size: 16px;
    position: relative;
}

#header > #gnb > li > a:hover{
    color: #39d9c8;
    transition: all 0.3s ease;

}

#header > #gnb > li > a::after{
    content: "";
    width: 0%;
    left: 50%;
    height: 1px;
    display : block;
    position: absolute;
    margin-top: 3px;
    border-bottom: 2px solid #111;
    transition: all 0.3s ease;
}

#header > #gnb > li:hover > a::after {
    content: "";
    width: 100%;
    left: 0px;
    height: 1px;
    display: block;
    position: absolute;
    margin-top: 3px;
    border-bottom: 2px solid #111;
    transition: all 0.3s ease;
}

.navbar_menu{
    scroll-behavior: smooth;
}

/* Header - End */

/* Home - Start*/

#home {
    display: flex;
    width: 1400px;
    height: 720px;
    margin: 0 auto;
    justify-content: center;
}

#home_right{
    width: 750px;
    height: 720px;
    background: gray;
}

#home_right > .home_subs{
    text-align: center;
    font-size: 18px;
    margin-top: 150px;
    color: #111;
    font-weight: bold;
}

#home_right > h3{
    text-align: center;
    color: #111;
    margin-top: 25px;
    font-weight: 800;
    font-size: 40px;
}

/* Home typing 구현 CSS Start */
#home_right > span{
    font-size: 30px;
    min-width: 20px;
    white-space: nowrap;
    margin: 0;
    position: absolute;
    color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#home_right > span::before{
    content: "Blockchain Developer";
    position: absolute;
    top: 0;
    left: 80px;
    width: 100%;
    height: 100%;
    color: black;
    overflow: hidden;
    border-right: 1.5px solid black;
    animation: typing 10s ease-in-out infinite;
}

@keyframes typing{
    0%{
        width: 0%;
    }
    50%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}

/* Home typing 구현 CSS End */

#home_left{
    display: flex;
    width: 150px;
    height: 720px;
    background: silver;
    justify-content: center;
    align-items: center;
}

#home_left > h2{
    font-size: 28px;
}
/* Home - Start*/


/* About - Start*/
#about {
    display: flex;
    justify-content: space-around;
    width: 1400px;
    height: 720px;
    margin: 0 auto;
    background: blue;
}

#about_left{
    width: 600px;
    height: 720px;
    background: silver;
}

#about_right{
    width: 700px;
    height: 720px;
    background: yellow;
}

/* About - End*/

/* Education - Start */
#education{
    width: 1400px;
    height: 300px;
    margin: 0 auto;
    background: green;
}
/* Education - End */

/* Skill - Start */
#skill {
    width: 1400px;
    height: 300px;
    margin: 0 auto;
    background: yellow;
}
/* Skill - End */

/* Project - Start */
#project{
    width: 1400px;
    height: 300px;
    margin: 0 auto;
    background: gray;
}
/* Project - End */




/* 반응형 Media CSS*/

.navbar_toggleBtn > i{
    display: none;
}

@media screen and (max-width:768px){
    
    #header {
        position: sticky;
        justify-content: flex-start;
    }

    #header > h1{
        font-size: 14px;
    }

    .navbar_menu{
        position: absolute;
        left: 250px;
        flex-direction: column;
        opacity: 0;
    }
    
    .navbar_menu > li {
        margin: 20px 0 0 0;
    }

    .navbar_toggleBtn{
        position: absolute;
        left: 500px;
        font-size: 28px;
        color: #111;
    }

    .navbar_toggleBtn > i{
        display: block;
    }

    .navbar_menu.active{
        position: absolute;
        opacity: 1;
    }

}

/* 반응형 Media CSS*/